/* Project Meta  */

body {
    background-image: url('../images/design/background.png');
    font-family: "Times New Roman", Times, serif;
    /*font-family: "GothamProRegular";*/
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;
}

section {
    float: left;
    width: 100%;
}

.dotted {
    border-bottom: 1px dashed #999;
    text-decoration: none;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
.center {
    text-align: center !important;
}
h2 {
    font-size: 20px;  
}

ul {
    padding: 0;
    list-style: none;
    text-align: left;
    margin-left: 20px;
    text-indent: 0;
    list-style: square;
}

ul.breadcrumb {
    margin: 0!important;
    border-radius: 0;
}

img {
    border: none;
}

button {
    border-radius: 0;
}

p:target{
    border: 2px solid #51A512;
    padding: 5px;
}
p:target b {
    color: #DF5600;
}

.button {
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;    
}
.button:hover,
.butoon:focus {
    border: none;
    outline: none;
}
.button[disabled] {
    pointer-events: none !important;
    cursor: default;
}

.fa {
    margin-right: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* HEADER */
#aa-header {
    font-size: 14px;
}
.aa-header-top-left .cellphone p {
    margin-bottom: 0;
    padding: 7px 10px;
}
.aa-header-top-welcome {
    padding: 7px 10px;
}
.aa-header-bottom {
    width: 100%;
    padding: 10px 0;
}
.aa-logo img {
    height: 80px;
}
.aa-search-box input[type="text"] {
    padding: 10px 55px 10px 10px;
    width: 100%;
}
.aa-cartbox {
    float: right;
    text-align: center;
    padding: 20px 0 10px 0;
}
.aa-cart-link {
    position: relative;
    display: block;
}
.aa-cart-link .fa-shopping-basket {
    z-index: 99;
    position: relative;
    font-size: 22px;
}
.aa-cart-link .aa-cart-title {
    display: block;
}
.aa-cart-notify {
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 9px;
    position: absolute;
    right: 41%;
    top: -15px;
    z-index: 10;
    -webkit-animation-name: cartbox-transition;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: cartbox-transition;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.aa-cartbox-summary {
    background-color: #fff;
    border: 1px solid #51A512;
    display: none;
    position: absolute;
    right: 0;
    width: 320px;
    z-index: 9999;
    overflow: auto;
    padding-bottom: 15px;
}
.aa-cartbox-summary ul {
    margin-left: 0;
}
.aa-cartbox-summary ul li {
    border-bottom: 1px solid #e2e2e2;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;
    position: relative;
}
.aa-cartbox-summary ul li:last-child {
    border: none;
    margin-bottom: 0px;
}
.aa-cartbox-img {
    float: left;
    width: 60px;
}
.aa-cartbox-img img {
    width: 100%;
    height: 100%;
}
.aa-cartbox-info {
    float: left;
    margin-left: 10px;
    width: 70%;
}
.aa-remove-product {
    position: absolute;
    right: 0;
    top: 30%;
    padding-right: 5px;
}
.aa-cartbox-total {
    font-weight: bold;
}
.aa-cartbox-checkout {
    padding-bottom: 10px;
}

@-webkit-keyframes cartbox-transition {
  33.33% {
    top: -13px;
  }

  66.66% {
    top: -17px;
  }

  100% {
    top: -15px;
  }
}

@keyframes cartbox-transition {
  33.33% {
    top: -13px;
  }

  66.66% {
    top: -17px;
  }

  100% {
    top: -15px;
  }
}

/* FOOTER */
#aa-footer {
    width: 100%;
}
ul.aa-footer-nav {
    margin-left: 0;
    padding: 0 10px 0 10px;
}
#aa-footer address {
    margin-bottom: 10px;
}
#aa-footer address p {
  margin-bottom: 0;
}
.aa-footer-social a {
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
}
.aa-footer-social a .fa {
    margin-right: 0;
}
.footer-header {
    font-size: 18px;
    margin: 10px 0;
}

/* MENU */
.navbar-default {
    background-color: transparent;
    border: medium none;
    margin-bottom: 0;
    min-height: auto;
}
.navbar-nav li a {
  font-size: 18px;
  padding: 10px 15px;
}
.navbar-nav .dropdown-menu li a {
  padding: 8px 15px;
}
.navbar-nav .dropdown-menu .dropdown-header {
  display: block;
  font-size: 16px;
  padding: 3px 20px;
  text-transform: uppercase;
}

/* CART */
.cart-view-table .table th {
    text-align: center;
}
.cart-view-table .table td {
    text-align: center;
}
.cart-view-table .aa-remove-product {
    position: relative;
    height: 20px;
    width: 20px;
}
.cart-view-table .aa-remove-product .fa {
    margin-right: 0;
}
.cart-view-table img {
    width: 40px;
    height: 40px;
}
.cart-view-table .aa-cart-quantity {
    width: 50px;
    display: inline-block;
}
.cart-view-table .cart-view-total {
    font-weight: bold
}

/* TEXT SECTION */
.aa-text p {
    text-align: justify;
}
.aa-text h2:before {
    content: url('/images/logo-small.png');
}
.aa-text h3 {
    font-size: 18px;  
}
.aa-text .branch {
    padding: 20px 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #51A512;
}
.aa-text .worktime:before {
    content: url('/images/design/worktime.png');
}
.aa-text .map {
    margin-bottom: 10px;
    margin-top: 10px;
}
.aa-text .newstime {
    font-size: 13px;
}
.aa-text .news {
    padding-bottom: 10px;
}
.aa-text .news-image {
    width:auto;
    height:auto;
    max-height:292px;
    max-width:800px;
}
.aa-text ul {
  margin-left: 40px;
}
.aa-text input.form-control,
.aa-text textarea.form-control {
    margin: 10px 0;
}

/* SUBSCRIBE FORM */
.aa-subscribe-area {
    padding: 20px 0;
    text-align: center;
}
.aa-subscribe-form {
    margin: 20px auto 0;
    position: relative;
    width: 450px;
}
.aa-subscribe-form input[type="email"] {
    height: 40px;
    width: 80%;
}
.aa-subscribe-form input[type="submit"] {
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

#aa-payment .text {
    width: 30%;
    display: inline;
}

.carousel-control {
  height: 40px;
  text-shadow: none;
  width: 40px;
  font-size: 20px;
  color: white;
  opacity: 1;
}
.carousel-control .left,
.carousel-control .right {
    background-image: none;
}
.carousel-inner {
    padding: 0 50px;
}

/* SCROLL TO TOP BUTTON */
.scrollToTop {
  bottom: 20px;
  display: none;
  font-size: 23px;
  position: fixed;
  right: 20px;
  z-index: 999;
}
.scrollToTop .fa {
    margin-right: 0;
}

.seq-nav .fa {
    margin-right: 0;
}

/* PRODUCT CATALOG */
.aa-product-catg-head {
    background-color: #f5f5f5;
    padding: 10px 15px;
    margin-bottom: 10px;
}
button.sort {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.aa-product-catg li .aa-badge {
  position: absolute;
  top: 5%;
  left: 15px;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
}
.image-good {
    max-width: 200px;
}
.aa-product-catg .good-button span {
    margin-right: 5px;
}
.aa-product-catg li {
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 370px;
    border: 1px solid transparent;
}
.aa-product-catg li.category {
    min-height: 280px;
}    
.aa-product-catg li:hover {
    border: solid 1px #51A512;
}
.aa-product-catg li figure {
    margin: auto;
    max-width: 202px;
}
.aa-product-catg li figure .aa-product-img img {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}
.aa-product-catg li .aa-product-title {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.aa-product-catg li .aa-product-price {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.aa-product-catg li .aa-product-price del {
    margin-left: 5px;
}


#path {
    opacity: 0.5;
    top: 190px;
    font-size: 23px;
    height: 50px;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 999;
}

#aa-slider {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#aa-slider .aa-slider-area {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#aa-slider .aa-slider-area .seq .seq-next:hover, 
#aa-slider .aa-slider-area .seq .seq-next:focus {  
  border: 1px solid #f9f9f9;
  color: #fff;
}
#aa-slider .aa-slider-area .seq .seq-prev:hover, 
#aa-slider .aa-slider-area .seq .seq-prev:focus {
  border: 1px solid #f9f9f9;
  color: #fff;
}


#aa-product .aa-sidebar .aa-sidebar-widget .aa-catg-nav li {
    font-size: 16px;
}
#aa-product .aa-sidebar .aa-sidebar-widget .aa-catg-nav li label {
    font-size: 14px;
    font-weight: normal;
}
.progress {
    width: 100%;
}
.progress .progress-bar {
    width: 100%;
    animation: progress-bar-stripes .5s linear infinite;
    height: 60px;
    font-size: 16px;
    background-color: #DF5600;
}

.search-table {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
.search-table .centered {
    text-align: center;
}
.search-table .bold {
    font-weight: bold;
}

.aa-product-nav {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.aa-product-nav li {
  display: inline-block;
}
.aa-product-nav li a {
  color: #333;
  display: inline-block;
  padding: 8px 15px;
}

.aa-product-content {
  margin-left: -30px;
  margin-top: 20px;
}
.aa-product-content li {
  background-color: #ccc;
  display: block;
  float: left;
  height: 250px;
  margin: 0 0 0 30px;
  width: 22.5%;
  margin-bottom: 20px;
}


.aa-sidebar {
    margin-bottom: 15px;
}

.aa-empty-catg {
    text-align: center;
    font-size: 20px;
    color: #DF5600;   
    padding-top: 50px;
    margin-top: 20px;
}


.good-button {
    padding: 10px 0;
    margin-bottom: 5px;
}

.desc-after ul {
    margin-left: 20px;
    text-indent: 0;
    list-style: square;    
}

#quickOrderImage {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

.filter-header {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;    
    font-weight: 500;
    line-height: 1.1;
}



#single-product {
    display: inline;
    float: left;
    width: 100%;
}
#single-product .modal-dialog {
  width: 90%;
}
#single-product .modal-content {
  border-radius: 0;
}
#single-product .modal-content button.close {
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#single-product .modal-content button.close:hover {
  opacity: 1;
}
#single-product img {
    border-style: solid;
    border-width: 1px;
    border-color: #51A512;
    width: 100%;
}
#single-product img:hover {
    border-color: #DF5600;
}
#single-product .aa-product-view-content {
  padding-right: 10px;
  padding-bottom: 10px;
}
#single-product .aa-product-view-content .firm {
  padding-bottom: 20px;
  text-align: left;
}
#single-product .aa-product-view-content .short-desc {
  padding-bottom: 15px;
  text-align: left;
}
#single-product .aa-product-view-content h3 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}
#single-product .container .modal-title {
    /*padding-top: 200px;*/
    padding-bottom: 20px;
    font-size: 22px;
}
.good-rating {
    width: 7em;
    height: 32px;
}
.good-rating > span {
    width: 20px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;  
    background-size: 60% 60%;
    display: inline-block;
}
.good-rating .orange-clover {
    background-image: url(/images/logo-review-orange.png);
}
.good-rating .grey-clover {
    background-image: url(/images/logo-review-grey.png);
}
.good-rating .half-clover {
    background-image: url(/images/logo-review-half-orange.png);
}
#single-product .aa-product-view-content h4 {
  font-weight: bold;
  letter-spacing: 1px;
}
#single-product .aa-product-view-content > p {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}
#single-product .aa-product-view-content .aa-price-block {
  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
}
#single-product .aa-product-view-content .aa-price-block .aa-product-view-price {
  font-size: 18px;
}
#single-product .aa-product-view-content .aa-price-block .aa-product-avilability {
  position: absolute;
  right: 0;
  top: 0;
}
#single-product .aa-product-view-content .aa-price-block .available {
  color: #51A512;
}
#single-product .aa-product-view-content .aa-price-block .unavailable {
  color: #DF5600;
}
#single-product .aa-product-view-content .aa-price-block select {
  width: 60%;
}
#single-product .aa-product-view-content .aa-price-block .quantity {
  max-width: 90px;
}
#single-product .aa-product-view-content .aa-prod-view-size a {
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  margin-right: 8px;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#single-product .aa-product-view-content .aa-prod-quantity {
  margin-top: 10px;
}
#single-product .aa-product-view-content .aa-prod-quantity form {
  display: inline-block;
}
#single-product .aa-product-view-content .aa-prod-quantity form select {
  height: 25px;
  width: 40px;
}
#single-product .aa-product-view-content .aa-prod-quantity .aa-prod-category {
  display: inline-block;
  margin-left: 15px;
}
#single-product .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
  font-size: 14px;
}
#single-product .aa-product-view-content .aa-prod-view-bottom {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}
#single-product .aa-product-view-content .aa-prod-view-bottom a:last-child {
    margin-left: 10px;
}
#single-product .nav-tabs {
    margin-top: 20px;
}
#single-product .price-tabs {
    margin-top: 0;
    padding-top: 10px;
}



#aa-banner {
  display: inline;
  float: left;
  width: 100%;
}
#aa-banner .aa-banner-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-banner .aa-banner-area a {
  display: block;
}
#aa-banner .aa-banner-area a img {
  max-width: 100%;
}

.bonus-item {
    border-color: #51A512;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    text-align: justify;
    height: 95%;
}
.bonus-item .aa-post-date {
    display: inline;
}
.bonus-row {
    margin: 0 -15px 0 -15px;
    display: flex;
    flex-wrap: wrap;    
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.remark {
    font-size: 11px;
}


#aa-support {
  padding: 30px 0;
}
.aa-support-single {
  text-align: center;
  padding: 0 10px;
}
.aa-support-single .fa {
    margin-right: 0;
    font-size: 30px;
}


#aa-client-brand .aa-client-brand-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider {
  margin-left: -35px;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li {
  float: left;
  margin-left: 35px;
  text-align: center;
  width: 17%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a {
  display: block;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a img {
  display: inline-block;
  max-width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev,
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
  top: 44%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev {
  left: -15px;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
  right: -45px;
}
#aa-client-brand .aa-client-brand-area .slick-dots {
  display: none!important;
}


.seq-screen ul {
    margin-left: 0;
}


#single-product .aa-product-info-tab {
    text-align: justify;
    text-indent: 20px;  
    padding: 20px 10px;
}
#single-product .aa-product-info-tab p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#single-product .aa-product-info-tab ul {
  margin-left: 40px;
  text-indent: 0;
  list-style: square;
}
#single-product .aa-product-info-tab ol {
  margin-left: 10px;
  text-indent: 0;
}


#checkout {
  display: inline;
  float: left;
  width: 100%;
}
#checkout .checkout-area {
  display: inline;
  float: left;
  padding: 10px 0;
  width: 100%;
}
#checkout .checkout-area .checkout-left {
  display: inline;
  float: left;
  width: 100%;
}
#checkout .checkout-area .panel-default {
  border-radius: 0;
}
#checkout .checkout-area .panel-default .panel-heading {
  background-color: transparent;
  padding: 0;
}
#checkout .checkout-area .panel-default .panel-heading .panel-title {
  font-size: 16px;
  padding: 12px 15px;
}
#checkout .checkout-area .panel-default .panel-heading .panel-title a {
  display: block; 
}
#checkout .checkout-area .checkout-left .aa-checkout-coupon .aa-coupon-code {
  border: 1px solid #e5e5e5;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  min-width: 250px;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
#checkout .checkout-area #delivery-info {
    padding-bottom: 15px;
}
#checkout .checkout-area .checkout-left .aa-checkout-coupon input[type="submit"] {
  font-size: 14px;
}
#checkout .checkout-area .checkout-left .aa-checkout-login input[type="text"],
#checkout .checkout-area .checkout-left .aa-checkout-login input[type="password"] {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
#checkout .checkout-area .checkout-left .aa-checkout-login label {
  cursor: pointer;
  font-weight: normal;
  margin-top: 8px;
}
#checkout .checkout-area .checkout-left .aa-checkout-login input[type="checkbox"] {
  margin-top: 5px;
}
#checkout .checkout-area .checkout-left .aa-checkout-login button {
  font-size: 14px;
  padding: 8px 20px;
  margin-right: 5px;
  float: left;
}
#checkout .checkout-area .checkout-left .aa-checkout-login .aa-lost-password {
  color: #555;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#checkout .checkout-area .checkout-left .aa-checkout-login .aa-lost-password a {
  color: #555;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill {
  display: inline;
  width: 100%;
  float: left;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill input {
  height: 40px;
  padding: 10px;
  width: 100%;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill .radio-inline {
    padding-right: 30px;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill .radio-inline input {
    height: 13px;
    padding: 10px;
    width: 100%;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill textarea {
    padding: 10px;
    width: 100%;
}
#checkout .checkout-area .checkout-left .aa-checkout-billaddress .aa-checkout-single-bill select {
  height: 40px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}
#checkout .aa-checkout-single-bill {
    padding-bottom: 15px;
    font-size: 14px;
}
#checkout .radio-inline {
    margin-right: 20px;
    font-size: 14px;
}
#checkout .panel-body {
    padding-bottom: 0px;
}
#checkout .tab-pane {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-top-style: none;
}
#checkout .checkout-area .checkout-right {
  display: inline;
  float: left;
  width: 100%;
}
#checkout .checkout-area .checkout-right h4 {
  margin-top: 0px;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area {
  margin-bottom: 30px;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table {
  border: 1px solid #ccc;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table thead tr th {
  border: 1px solid #ccc;
  text-align: center;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td {
  border-right: 1px solid #ccc;
  text-align: center;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td strong {
  margin-left: 5px;
  font-size: 14px;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr th {
  border-right: 1px solid #ccc;
  text-align: center;
}
#checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr td {
  text-align: center;
}
#checkout .checkout-area .checkout-right .aa-payment-method {
  border: 1px solid #ccc;
  padding: 15px;
}
#checkout .checkout-area .checkout-right .aa-payment-method label {
  width: 100%;
  font-weight: normal;
}
#checkout .checkout-area .checkout-right .aa-payment-method img {
  margin-top: -10px;
  width: 80%;
}
#checkout .checkout-area .checkout-right #discount{
    color: #DF5600;
}
#checkout .checkout-area .checkout-right #promo{
    height: 40px;
    padding: 10px;
    width: 100%;
}
#checkout .checkout-area .checkout-right input[type="submit"] {
  display: block;
  width: 100%;
}
#checkout #bonus {
    width: 50%;
    display: inline-block;
}
#checkout #use-bonus {
    display: inline-block;
    padding: 8px 12px;
    width: 48%;
}
input.es-input { padding-right: 20px !important; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat; }
input.es-input.open {
	-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; }
.es-list { position: absolute; padding: 0; margin: 0; border: 1px solid #d1d1d1; display: none; z-index: 1000; background: #fff; max-height: 160px; overflow-y: auto;
	-moz-box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; box-shadow: 0 2px 3px #ccc; }
.es-list li { display: block; padding: 5px 10px; margin: 0; }
.es-list li.selected { background: #f3f3f3; }
.es-list li[disabled] { opacity: .5; }

ul.nav-tabs {
    margin-left: 0;
}
.nav-tabs > li > a {
    border-radius: 0;
}

#aa-myaccount {
  display: inline;
  float: left;
  width: 100%;
  padding-bottom: 30px;
}
#aa-myaccount .change-profile {
    display: block;
}
#aa-myaccount .aa-myaccount-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-myaccount .aa-myaccount-area h4 {
    margin-bottom: 20px;
    padding-bottom: 15px;
}
#aa-myaccount .aa-myaccount-area .row {
    border-bottom: 1px solid #ccc;
}
#aa-myaccount .aa-myaccount-area .aa-myaccount-details {
    display: inline;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
#aa-myaccount .aa-myaccount-bonus {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}    
#aa-myaccount .aa-myaccount-area .aa-myaccount-orders {
    display: inline;
    float: left;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#aa-myaccount .aa-myaccount-area .aa-myaccount-orders table {
    margin-top: 10px;
}
#aa-myaccount #logout {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-dialog input[type="text"],
.modal-dialog input[type="password"],
.modal-dialog input[type="number"],
.modal-dialog input[type="date"]{
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}
.modal-dialog label {
  font-weight: normal;
  margin-top: 8px;
  width: 100%;
  font-size: 14px;
}
.modal-dialog label span {
  color: red;
}
.aa-login-form input[type="checkbox"] {
  margin-top: 5px;
}
.modal-dialog button:not(.close) {
    padding: 8px 20px;
    margin-right: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.modal-content {
  border-radius: 0;
}
.modal-dialog {
  margin: 100px auto;
  width: 320px;
}
.modal-dialog h4 {
    color: #51A512;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
  
}
.modal-dialog .aa-register-now {
    font-size: 14px;
}
.modal-dialog .aa-register-now a {
    margin-left: 5px;
    margin-right: 5px;
}
.modal-dialog .modal-footer .green-button {
    margin: 5px;
    height: 40px;
}
.modal-dialog .forget-password {
    font-size: 14px;
}

.modal-dialog .row {
    margin-top: 10px;
}

#aa-contact .aa-contact-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-top {
  display: inline;
  float: left;
  padding: 50px 100px;
  text-align: center;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-top h2 {
  color: #555;
  padding-bottom: 0px;
}
#aa-contact .aa-contact-area .aa-contact-top p {
  color: #555;
}
#aa-contact .aa-contact-area .aa-contact-map {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-map iframe {
  margin-bottom: -6px;
}
#aa-contact .aa-contact-area .aa-contact-address {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-question {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-question .comments-form {
  margin-top: 10px;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-question .comments-form input {
  height: 40px;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-question .comments-form textarea {
    padding: 10px;
    width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-question .comments-form .form-group {
  margin-bottom: 20px;
  float: left;
  width: 100% !important;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-right {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-right address h4 {
  font-size: 22px;
}

#aa-orders .order-parameters-header {
    font-weight: bold;
    width: 150px;
    display: inline-block;
}
#aa-orders .order-parameters-value {
    width: 120px;
    display: inline-block;
    padding: 5px 4px;
}
#aa-orders .form-control {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}
#aa-orders .show-details {
    height: 34px;
    padding: 5px 20px;
}

#aa-blog-archive {
  display: inline;
  float: left;
  width: 100%;
}
#aa-blog-archive .aa-blog-archive-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single h4 a {
  /*color: #5555;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-blog-img {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-blog-img:hover img {
  opacity: 1;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-blog-img img {
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-details .aa-blog-img img {
  max-width: 300px;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-article-bottom {
  display: inline;
  float: left;
  width: 100%;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-article-bottom .aa-post-author {
  font-size: 12px;
  float: left;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-article-bottom .aa-post-date {
  font-size: 12px;
  float: left;
  margin-left: 10px;
}

.aa-blog-details {
    margin-bottom: 30px;
}
.aa-blog-details p {
  text-align: justify;
}
.aa-blog-details blockquote {
    font-size: 16px;
}
.aa-blog-details ul {
  margin-left: 52px;
}
.aa-blog-details ul li {
  list-style: square;
  margin-bottom: 5px;
  text-align: justify;
}
.aa-blog-details .blog-single-bottom {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 10px 0;
  width: 100%;
}
.aa-blog-details .blog-single-tag {
  display: inline;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
    margin-top: 20px;
}
.aa-blog-details .blog-single-tag span {
  font-weight: bold;
}
.aa-blog-details .blog-single-tag a {
  margin-left: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-blog-details .blog-single-tag a:hover, .aa-blog-details .blog-single-tag a:focus {
  text-decoration: none;
  outline: none;
}
.aa-blog-details .aa-blog-content-single .blog-single-social {
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}
.aa-blog-details .aa-blog-content-single .blog-single-social a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  min-width: 30px;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-blog-details .blog-single-social a:hover, .aa-blog-details .aa-blog-content-single .blog-single-social a:focus {
  text-decoration: none;
  outline: none;
}
.aa-blog-details .aa-article-bottom {
  margin-bottom: 20px;
}
.aa-blog-details .aa-article-bottom .aa-post-author {
  font-size: 14px;
}
.aa-blog-details .aa-article-bottom .aa-post-date {
  font-size: 14px;
}

.aa-blog-content-single .aa-blog-img img {
    width: 100%;
}

.error {
    border-color: red;
}

#aa-error {
    display: inline;
    float: left;
    width: 100%;
}
#aa-error .aa-error-area {
    display: inline;
    float: left;
    margin: 50px 0;
    padding: 100px 100px 130px;
    text-align: center;
    width: 100%;
}
#aa-error .aa-error-area h2 {
  display: inline-block;
  font-size: 150px;
  line-height: 150px;
  margin-bottom: 30px;
  text-shadow: 0 2px 2px #ddd;
}
#aa-error .aa-error-area span {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px #ddd;
}
#aa-error .aa-error-area p {
  font-size: 16px;
}

.review-button {
    display: inline-block;
    text-indent: 0;
}

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:7em;
    text-indent: 0px;
    margin-bottom: 10px;
}
.star-rating input {
  display:none;
}
.star-rating label {
    width: 30px;
    height: 32px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;     
    background-image: url(/images/logo-review-grey.png);
}
.star-rating :checked ~ label {
    background-image: url(/images/logo-review-orange.png);
}
.star-rating label:hover,
.star-rating input:hover ~ label {
  background-image: url(/images/logo-review.png);
}

@media (max-width: 1199px) {
  .aa-product-catg {
    margin-left: -45px;
  }

  /*.aa-product-catg li {
    margin: 0 0 20px 45px;
    width: 20.5%;
  }*/

  .slick-prev {
    left: 93%;
  }

  .aa-popular-category-area .slick-dots {
    display: none !important;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev {
    left: 15px;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
    right: -15px;
  }

  #aa-slider .aa-slider-area .seq-title h2 {
    line-height: 50px;
  }

  #aa-product .aa-sidebar .aa-sidebar-widget h3 {
    font-size: 22px;
  }
  
  #aa-catg-head-banner img {
    width: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 5% 0;
  }
}
@media (max-width: 991px) {
  .aa-search-box {
    margin-right: 0;
  }

  #menu .navbar-default .navbar-nav li a {
    font-size: 14px;
    padding: 8px;
  }

  #aa-slider .aa-slider-area .seq-title {
    left: 8%;
    width: 80%;
  }

  .aa-product-catg {
    margin-left: -20px;
  }

  /*.aa-product-catg li {
    margin: 0 0 20px 20px;
    width: 30.5%;
  }*/

  .slick-prev {
    left: 91%;
  }

  #single-product .modal-dialog {
    margin: 10% auto;
    width: 90%;
  }

 
  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 3.5% 0;
  }

 
  #aa-product-details .aa-product-details-area .aa-product-details-content {
    margin: 0 auto;
    width: 100%;
  }

  .aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container {
    width: 100%;
  }
  .aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container .simpleLens-lens-image {
    width: 100%;
  }

  .cart-view-table .aa-cart-view-btn {
    float: none;
  }

  #aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-right {
    margin-top: 20px;
  }

  #aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle {
    border-radius: 0;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  #aa-popular-category .aa-popular-category-area {
    padding: 0 15px;
  }

  #aa-support .aa-support-area .aa-support-single {
    margin-bottom: 30px;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single {
    margin-bottom: 30px;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single .aa-blog-img {
    height: 400px;
  }

  .simpleLens-lens-element {
    display: none;
  }

  .aa-product-details-content .aa-product-view-slider .simpleLens-container {
    width: 100%;
  }

  #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
    padding: 0 30px;
    text-align: center;
  }


  .cart-view-table .aa-cart-view-btn {
    float: none;
    font-size: 14px;
    padding: 12px;
  }

  .aa-blog-details .aa-blog-content-single .blog-single-tag {
    text-align: center;
  }

  .aa-blog-details .aa-blog-content-single .blog-single-social {
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 640px) {
  .aa-search-box {
    margin-right: 0;
    width: 100%;
  }

  .aa-product-catg {
    margin-left: -20px;
  }

  .aa-product-catg li {
    margin: 0 0 20px 20px;
    width: 46%;
  }

  .slick-prev {
    left: 89%;
  }

  .cart-view-table .table th {
    font-size: 14px;
    padding: 10px 0;
  }

  .cart-view-table .table td {
    font-size: 14px;
  }


}
@media (max-width: 480px) {
    .aa-subscribe-form {
        width: 100%;
    }    
  #aa-slider .aa-slider-area .seq-title {
    left: 2%;
    top: 15%;
    width: 90%;
  }

  #aa-slider .aa-slider-area .seq-title h2 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
  }

  #aa-slider .aa-slider-area .seq-title span {
    font-size: 12px;
  }

  .aa-logo img {
    height: 50px;
  }

  .seq .seq-next, .seq .seq-prev {
    font-size: 30px;
    line-height: 35px;
    margin-top: -50px;
    padding: 5px 12px;
  }

  .aa-product-catg {
    margin-left: 0;
  }

  .aa-product-catg li {
    margin-left: 0;
    width: 100%;
  }

  .slick-prev {
    left: 84%;
  }

  #aa-promo .aa-promo-area {
    margin-top: -20px;
    padding: 0;
  }

  #aa-promo .aa-promo-area .aa-promo-left {
    height: 250px;
    width: 100%;
  }

  #aa-promo .aa-promo-area .aa-promo-right {
    height: auto;
  }

  #aa-promo .aa-promo-area .aa-promo-right .aa-single-promo-right {
    height: 250px;
    width: 100%;
  }

  .scrollToTop {
    font-size: 20px;
  }

  #path {
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    width: 40px;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content h2 {
    font-size: 20px;
    line-height: 20px;
  }

  .breadcrumb {
    margin-bottom: 0;
    padding: 3px 10px;
  }

  #aa-catg-head-banner {
    height: 100px;
  }

  #aa-catg-head-banner img {
    height: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 6.5% 0;
  }

  #aa-contact .aa-contact-area .aa-contact-top {
    padding: 20px;
  }

  #aa-contact .aa-contact-area .aa-contact-top h2 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }

  #aa-contact .aa-contact-area .aa-contact-address .question .comments-form textarea {
    width: 100%;
  }

  #aa-contact .aa-contact-area .aa-contact-address {
    padding: 20px;
  }

  #aa-error .aa-error-area {
    padding: 70px 70px 90px;
  }

  #aa-error .aa-error-area h2 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
  }

  .aa-blog-details #respond input[type="text"], .aa-blog-details #respond input[type="email"], .aa-blog-details #respond input[type="url"] {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .aa-subscribe-form {
    width: 100%;
  }  

  .aa-logo {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aa-logo a {
    display: inline-block;
  }

    .aa-logo img {
        height: 50px;
    }

  #aa-header .aa-header-bottom .aa-cartbox {
    text-align: center;
  }

  #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
    display: inline-block;
  }

  .aa-popular-category-area .tab-content {
    margin-top: 40px;
  }

  .slick-prev, .slick-next {
    margin-top: 0;
    top: -40px;
  }

  .slick-prev {
    left: 77%;
  }

  #aa-subscribe .aa-subscribe-area .aa-subscribe-form {
    width: 100%;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev,
  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
    top: 30%;
  }

  #aa-subscribe .aa-subscribe-area h3 {
    font-size: 20px;
  }

  #aa-subscribe .aa-subscribe-area p {
    font-size: 14px;
  }

  #aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
    font-size: 14px;
  }

  .aa-cartbox-summary::after,
  .aa-cartbox-summary::before {
    left: 45%;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single .aa-blog-img {
    height: 250px;
  }

  #wpf-loader-two .wpf-loader-two-inner {
    left: 36%;
  }

  #single-product .aa-product-view-content .aa-prod-view-bottom {
    text-align: center;
  }

  #single-product  .aa-product-view-content .aa-prod-view-bottom a:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  .aa-add-to-cart-btn {
    min-width: 150px;
  }

  #single-product .aa-product-view-content {
    text-align: center;
    margin-top: 10px;
  }

  #single-product .aa-product-view-content .aa-price-block {
    text-align: left;
  }

  #single-product .aa-product-view-content h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 8% 0;
  }

  #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
    padding: 0 10px;
  }

  #aa-product-details .aa-product-details-area .aa-product-related-item h3 {
    text-align: left;
  }

  #aa-product-details .aa-product-details-area .aa-product-related-item .slick-prev, #aa-product-details .aa-product-details-area .aa-product-related-item .slick-next {
    top: -75px;
  }

  #cart-view .cart-view-area .cart-view-table {
    padding: 0 0 20px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td img {
    height: 15px;
    width: 15px;
  }

  #cart-view .cart-view-area .cart-view-table .table thead tr th {
    font-size: 10px;
    padding: 7px 0;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td {
    font-size: 14px;
  }

  .cart-view-table .aa-cart-view-btn {
    font-size: 12px;
    padding: 10px;
  }

  #cart-view .cart-view-area .cart-view-table .cart-view-total {
    width: auto;
  }

  #aa-error .aa-error-area {
    padding: 10px;
    padding-bottom: 30px;
  }

  .aa-blog-details h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .aa-blog-details .aa-blog-content-single p {
    font-size: 15px !important;
  }

  .aa-blog-details .aa-blog-content-single blockquote {
    font-size: 16px;
  }

  .aa-blog-details .aa-blog-navigation .aa-blog-prev {
    font-size: 14px;
    padding: 6px 10px;
  }

  .aa-blog-details .aa-blog-navigation .aa-blog-next {
    padding: 6px 10px;
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .aa-subscribe-form {
    width: 100%;
  }    
    
  .aa-cartbox-summary::after,
  .aa-cartbox-summary::before {
    left: 52%;
  }

  #aa-header .aa-header-top .aa-header-top-left .aa-language .btn {
    padding: 6px 1px;
    font-size: 10px;
  }
  
    .aa-logo img {
        height: 40px;
    }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td {
    font-size: 10px;
  }

  .cart-view-table .aa-cart-view-btn {
    font-size: 10px;
    letter-spacing: 0.5px;
  }


  #aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li a {   
    padding: 5px 2px;
  } 
}