body{
    border-bottom:0px solid #222;
    border-top:0px solid #222;
    margin:0;
    padding:0;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size:14px;
    line-height:18px;
    color: #009900;
}
 
h1, h2, h3, h4, h5 {border:0; margin:15px 0 10px 0; padding:0; font-weight:bold;}
h1 {font-size:260%; line-height:100%; font-family:"georgia",serif;}
h2 {font-size:180%; line-height:100%; font-family:"georgia",serif;}
h3 {font-size:120%; line-height:100%; font-weight:bold;}
h4 {font-size:100%; text-align:center}
h5 {font-size:100%;}
 
a:link, a:visited, a:active{
    color:#69bfde;
    text-decoration: none;
    font-weight: normal;
}
 
 
h2 a:hover{
    color:#69bfde;
}
 
#container{
    width:960px;
    margin:25px auto 20px auto;
    padding:0px 0 0px 0;
    text-align:center;
    border-top:5px solid #009900;
    border-bottom:5px solid #009900;
    background:#f8f8f8;
}
 
#top{
    padding:0;
    margin:0;
    height:144px;
}

#header{
    height: 105px;
    margin: auto;
    padding: 0;
}

#modal-placeholder{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: #009900;
    opacity: 0.1;
}

#auth-form-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#auth-form {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    width: 240px;
    border: 1px solid #009900;
    background: white;
    vertical-align: middle;
}

#header_image{
    background: url(../images/design/clever.png) no-repeat;
    margin:0 0 0 0;
    padding:0;
    height:105px;
    width:260px;
    float: left;
}

#header_menu{
    margin:0;
    padding:0;
    height:105px;
    width:700px;
    display: inline-block;
} 

#header_welcome{
    margin:0;
    padding-top:10px;
    height:30px;
    width:300px;
    float:left;
    text-align: left;
}

#header_networks{
    float: right;
    width: 150px;
    height: 40px;
}

.img_network{
    width:25px;
    height:25px;
    margin:2px;
}
 
#content{
	border-top:3px solid #009900;
	border-bottom:3px solid #009900;
	border-left:3px solid #009900;
	border-right:3px solid #009900;
	padding:10px 10px 5px 10px;
	margin:0;
	text-align:left;
}
 
#content .article {
	clear:both; 
	border-top:1px solid #009900;
	margin:0; 
	padding:15px; 
}

#content .article h3 {
	margin:0
}

#content .article p {
	text-align:justify;
}

#content .date {
	font-size:80%;
}

#content .small-image {
	margin:0 0 15px 0;
	padding:0; 
	border:1; 
	position:relative; 
}  
  
#content .small-image img {
	width:200px;  
	margin:0; 
	padding:0 0 0 0px;
}

.link {
    border-bottom: 1px dotted #009900;
    text-decoration: none;
    display: inline-block;
}

.link:hover {
    border-bottom: 1px solid #009900;
    cursor: pointer;
}

.auth-tab {
    display: inline-block;
    margin-bottom: 10px;
}

table.table-inv {
        border:0;
        text-align:left;
        width:100%;
	border-spacing:0 0;
	border-collapse:separate;
}

table.table-inv td {
	padding:0px;
}

.button-add {
	width: 100px;
	height: 29px;
	border:0;
	cursor:pointer;
	color: #009900;
	font-weight:bold;
	background: url(../images/design/button.png) no-repeat;
}

.button-add:hover {
	width: 100px;
	height: 29px;
	border:0;
	cursor:pointer;
	color: white;
	font-weight:bold;
	background: url(../images/design/button-hover.png) no-repeat;
}
 
img.clear-img  {
	padding:0px;
	border:none;
	background: #fff;
}
 
img.clear-img a {
	padding:0px;
	border:none;
	background: #fff;
	text-decoration: none;
	border-bottom: none;
}
 
img.clear-img a:hover {
	padding:0px;
	border:none;
	background: #fff;
	text-decoration: none;
	border-bottom: none;
}
 
 
#footer{
	border-bottom:1px solid #009900;
	padding: 10px 0 0 0px;
	margin:10;
	color: #aaa;
	
}
 
#footer p{
	padding:0 0 20px 0;
	margin:5px 0 0 0;
	text-align:center;
}
 
.comment {
	margin: 10px 0 0 0;
	border-top: 1px dotted #ddd;
	padding: 10px 20px 0;

}

.comment-top {
	padding: 0px 0px 15px 0px;
	background:url(../images/design/comment-top.png) no-repeat;
}

.comment-bottom {
	padding: 0px 0px 20px 0px;
	background:url(../images/design/comment-bottom.png) no-repeat;
}
 
.comment-text {
	padding: 0px 0px 0px 30px;
	background:url(../images/design/comment.png) repeat-y;
}
 
.top_menu {
	line-height: 40px;
	float: left;
	margin-left: 0px;
	margin-top: 21px;
	width: 140px;
	height: 50px;
	background: url('../images/design/top_menu1.png');
}
 
.top_menu_active {
	background:transparent url(../images/design/top_menu_active1.png) no-repeat scroll 0 0;
	float:left;
	height:50px;
	line-height:40px;
	margin-top:21px;
	text-align:center;
	width:140px;
}

.top_menu:hover {
	background:transparent url(../images/design/top_menu_active1.png) no-repeat scroll 0 0;
	float:left;
	height:50px;
	line-height:40px;
	margin-top:21px;
	text-align:center;
	width:140px;
}
 
.top_menu a {
	font-family: Georgia,"Times New Roman",Times,serif;
        color: #009900;
	font-size: 20px;
	text-decoration: none;
}
 
.top_menu:hover a {
	font-family: Georgia,"Times New Roman",Times,serif;
	color: white;
	font-size: 20px;
	
	text-decoration: none;
}

.top_menu_active a {
	font-family: Georgia,"Times New Roman",Times,serif;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.line_left {
	float: left;
	padding-left: 0px;
	padding-top: 4px;
	width: 886px;
	height:86px;
}

#widget{
    border: 1px solid #009900;
    height: 300px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.comments1 {
	color:blue;
}

.comments2 {
	color:green;
}

.comments3 {
	color:brown;
}

.italic {
	font-style:italic;
}

.news {
    border: 1px solid #009900;
    width: 100%;
    margin-bottom: 10px;
}

.news-header {
    font-size: 120%; 
    line-height: 100%; 
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
}

.news-date {
    font-size : 120%;
    display: inline-block;
    float : right;
    margin-right: 10px;
    margin-top: 5px;
}

.news-text {
    margin: 5px;
    text-align: justify;
    text-indent: 30px;
}

.news-new {
    display: inline-block;
}


