
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 10px 30px;
    border-radius: 0;
    min-width: 250px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
        float: right;
        z-index: 100;
        overflow: visible;
        margin-right: 20px;
        padding: 20px 0;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

